nav a.active {
    color: rgb(190, 48, 48, 0.8);

}
.formulario {
    background-image: url(/images/fondosellos.png);
    margin-top: 50px;
    min-height: 100vh; 
    margin: 0; 
    padding-top: 100px;
    background-size: 2000px 1200px;
    padding-bottom: 50px;

   
}

.travelForm{
    background-color:rgba(0, 0, 0);
    display: fixed;
    justify-content: center;
    border-radius: 8px;
    padding:40px;
    padding-top:20px;
    margin-left: 350px;
    margin-right: 350px;
    color:#fff;
    letter-spacing: 2px;
    font-size: 1.2em;
    font-family: 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    margin-top: 50px;

}

legend{
    margin-top:0;
}

.botonContinent{
    padding-right: 15px;
    margin-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    font-size: 16px;
}

.botonCountry{
    padding-right: 20px;
    margin-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    font-size: 16px;
}


.boton{
    border-radius: 20px;
    background-color: rgb(190, 48, 48, 0.8);
    color: white;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid rgb(255, 255, 255);
    font-size: 16px;
    
}

.restaurant-card {
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc; 
}

.restaurant-card h3{
    margin-top: 0px;
}

/* Eliminar el borde del último elemento */
.restaurant-card:last-child {
    border-bottom: none;
}

.restaurant-info p a{
 color: rgb(246, 78, 69);
 text-decoration: none;
}

